body {
   background-image: url(egg.jpg); 
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
    }

#container {
    border: 3px solid #3D0000;
    border-radius: 20px;
    width: 410px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6E3C5;
    padding: 15px;
    margin-top: 20px;
    margin-left: 30px;
    }

#head {
    align-self: center;
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    color: #3D0000;
}

#box {
    display: flex;
    flex-direction: column;
    
}

h3 {
    align-self: center;
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    color: #3D0000;

}

ul {
    font-family: 'Roboto Serif', serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

#btnTimer {
    padding: 8px;
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    margin: 5px;
    border: 3px solid #3D0000;
    color: #3D0000;
    background-color: beige;
    border-radius: 20px;
}

#timer {
    background-color: #F6E3C5;
    width: 120px;
    height: 60px;
    padding: 20px;
    font-size: 50px;
    border: 3px solid #3D0000;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 200px;
    color: #3D0000;
    display: none;
}

@media all and (max-width: 500px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #box {
        display: flex;
        flex-direction: column;
        padding: 3px;
        width: 250px;
    
    }
    h3 {
        font-size: 14px;
    }
    ul {
        font-size: 12px;
    }

    #timer {
        margin-right: 100px;
    }
    
}

